<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicEvolutionVis</title>

    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="./libs/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./libs/MDB5/css/mdb.min.css">
    <link rel="stylesheet" href="./libs/vue-slider-component/theme/default.css">

    <link rel="stylesheet" href="./src/css/layout.css">
    <link rel="stylesheet" href="./src/css/color.css">
    <link rel="stylesheet" href="./src/css/tableview.css">
    <link rel="stylesheet" href="./src/css/graphview.css">
    <link rel="stylesheet" href="./src/css/controls.css">
    <link rel="stylesheet" href="./src/css/danmaku.css">
</head>

<body>
    <div id="app">
        <div id="musicians-danmaku">
            <div class="danmaku-row" v-for="i in 40">
                <span v-for="n in musicians.slice((i-1)*25, i*25)" 
                      class="danmaku-cell"
                      @click="focus_musician(n)">
                    {{n}}
                </span>
                <span v-for="n in musicians.slice((i-1)*25, i*25)" 
                      class="danmaku-cell"
                      @click="focus_musician(n)">
                    {{n}}
                </span>
            </div>
        </div>

        <div id="bg">
            <svg id="guitar-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 211.2124 284.8559">
                <path d="M395.4023,435.97c-16.519.3828-58.0849,3.4814-69.1005,32.125-11.0166,28.6406,15.4228,49.874,15.4228,68.0518,0,18.1757-47.3706,43.71-47.3706,100.4453,0,56.7334,49.0425,84.1494,106.8062,84.1494,59.4677,0,104.4062-30.3984,104.4062-88.6817,0-55.2978-47.3711-69.9531-47.3711-92.5371,0-22.582,15.9746-38.5566,15.9746-51.2255s-.5517-18.7276-7.7119-18.7276-10.6758,16.12-27.9209,16.12-25.6764-24.3865-26.0586-39.8056C412.2073,434.9428,402.582,435.8037,395.4023,435.97Z"
                      transform="translate(-294.354 -435.8853)" 
                      style="fill: #271707;"
                      pointer-events="fill"/>
            </svg>
            <!-- <img id="guitar-img" src="./assets/guitar/guitar_07.svg" alt=""> -->
            <div id="bg-notes"></div>
        </div>


        <div id="table-view">
            <div id="table-title">
                Title
            </div>
            <div id="table-main">
                <!-- 这里就是左边的表格了 -->
                <!-- 我好像成功了 -->
            </div>
            <div id="table-slider" class="container">
                <!-- <div id="table-slider-bg"></div> -->
                <div id="table-slider-value" class="row">
                    <div class="col-5 p-0">
                        <div class="form-outline range-input w-100">
                            <input id="start-year" class="form-control active text-center" v-model="time_range[0]" @change="range_change" />
                            <label class="form-label" for="start-year">Start</label>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        ~
                    </div>
                    <div class="col-5 p-0">
                        <div class="form-outline range-input w-100">
                            <input id="end-year" class="form-control active text-center" v-model="time_range[1]" @change="range_change" />
                            <label class="form-label" for="end-year">End</label>
                        </div>
                    </div>
                </div>
                <div id="table-slider-rail" class="row">
                    <div class="col-12">
                        <v-slider v-model="time_range" :min="1921" :max="2020" :step="1" @change="range_change" />
                    </div>
                </div>
                <div id="table-slider-animate">
                    <button class="w-100 btn btn-sm btn-primary" onclick="start_animation(time_animation, 100)">Animate</button>
                </div>
            </div>
            <!-- <div id="table-decoration">
                被表格的筛选控件取代了
            </div> -->
        </div>

        <div id="graph-view">
            <div id="graph-main">

            </div>
            <div id="graph-bar">
                <!-- 此处用于显示目标年份内各流派音乐所占比例，详见'show_portion.js' -->
                <div id="graph-bar-main">

                </div>
            </div>
            <div id="graph-back" v-show="inspecting_genre.length > 0" onclick="">
                <img src="./assets/icons/aui-icon-back.svg" id="graph-back-icon">
            </div>
        </div>

        <div id="controls">
            <div id="controls-bg"></div>
            <div id="controls-graph-mode" class="control-group">
                <div class="control-label fw-bold">Edge Type:</div>
                <div id="graph-mode-switch" class="btn-group control-btn" role="group">
                    <button v-for="(name, i) in graph_mode_list" class="btn btn-sm btn-primary" @click="change_graph_mode(i)">
                        {{name}}
                    </button>
                </div>
            </div>
            <div style="height: 0.4rem;"></div>
            <div id="controls-genre-chosen" class="control-group">
                <div class="control-label fw-bold">Genres:</div>
                <div class="dropdown">
                    <button class="btn btn-sm btn-primary dropdown-toggle w-100" 
                            type="button"  
                            data-bs-toggle="dropdown" 
                            aria-expanded="false" id="dropdownMenuButton">
                        Select Genres
                    </button>
                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                        <div id="genres-select" class="container">
                            <div v-for="i in genres.length" class="row">
                                <div class="form-check-inline">
                                    <div class="float-start badge rounded-pill genre-color-badge" :style="'background-color:' + genre_colors[i-1]">
                                        &nbsp;
                                    </div>
                                    <div class="float-start genre-check-label">{{genres[i-1]}}</div>
                                    <input class="float-end form-check-input" type="checkbox" v-model="using_genres[i-1]" @change="grene_change(i-1)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./libs/Vue/vue.global.js"></script>
    <script src="./libs/d3js/d3.js"></script>
    <script src="./libs/echarts/echarts.js"></script>
    <script src="./libs/vue-echarts.js"></script>
    <script src="./libs/vue-slider-component/vue-slider-component.umd.js"></script>
    <script src="./libs/vue3-sfc-loader.js"></script>
    <script src="./libs/MDB5/js/mdb.min.js"></script>
    <script src="./libs/Bootstrap/js/bootstrap.bundle.js"></script>
    <script src="./libs/jQuery/jquery.js"></script>
    <script src="./libs/jquery.csv.js"></script>

    <script src="./src/js/main.js"></script>
    <script src="./src/js/loader.js"></script>
    <script src="./src/js/table.js"></script>
    <script src="./src/js/graph.js"></script>
    <script src="./src/js/show_portion.js"></script>
    <script src="./src/js/animation.js"></script>
    <script src="./src/js/names_danmaku.js"></script>

</body>

</html>