#table-slider-rail {
    margin-top: 0.4rem;
    padding: 0 0.4rem !important;
}

#table-slider-value {
    padding: 0 0.8rem !important;
}

#contrils-reset {
    position: inherit;
    z-index: 10;
    width: 100;
}

#genres-select {
    padding: 10px;
}

.genre-color-badge {
    margin-right: 0.5rem;
}

.genre-check-label {
    letter-spacing: 1px;
}

.control-label {
    position: relative;
    color: white;
    z-index: 1000;
}

.control-btn {
    margin: 0;
}

.btn-group.control-btn {
  display: flex;
}

.control-btn .btn {
  flex: 1;
}