.fullscreen-showing {
    opacity: 0.9 !important;
    pointer-events: all !important;
}

.blured {
    filter: blur(10px);
}

#fullscreen-back-btn {
    z-index: 100;
    width: min(3vh, 50px);
    height: min(3vh, 50px);
    position: inherit;
    right: 5%;
    top: 3vh;
}

.fullscreen-out-btn {
    pointer-events: all;
    cursor: pointer;
    transition: all linear 0.15s;
    opacity: 0.5;
    transform: scale(1.15);
}
.fullscreen-out-btn:hover {
    opacity: 1.0;
    transform: scale(1.0);
}

.fullscreen-in-btn {
    pointer-events: all;
    cursor: pointer;
    transition: all linear 0.15s;
    opacity: 0.5;
    transform: scale(1.0);
}
.fullscreen-in-btn:hover {
    opacity: 1.0;
    transform: scale(1.15);
}

#fullscreen-title {
    z-index: 50;
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100vw;
    height: 5vh;
    font-size: 5vh;
    line-height: 5vh;
    font-weight: bolder;
    text-align: center;
}

#fullscreen-content {
    position: absolute;
    top: 12.5%;
    left: 5%;
    width: 90%;
    height: 80%;
    border: #666 2px solid;
    border-radius: 20px;
}

#fullscreen-table {
    width: 100%;
    height: 100%;
    position: inherit;
    left: 0;
    top: 0;
    /* background-color: #ccc; */
    border-radius: 20px;
}

#fullscreen-graph {
    /* background-color: #666; */
    width: 80%;
    height: 100%;
    position: inherit;
    left: 0;
    top: 0;
}

#fullscreen-graph-info {
    /* background-color: #999; */
    width: 20%;
    height: 100%;
    position: inherit;
    right: 0;
    top: 0;
}

.fullscreen-genre-label {
    border-radius: 10px;
}

.fullscreen-genre-title {
    font-weight: bold;
}