#graph-bar-main {
    width: 100%;
    height: 100%;
}

#graph-back {
    cursor: pointer;
    pointer-events: fill;
    position: inherit;
    left: calc((90% - 60vh) / 1.6);
    top: 5%;
    width: 5%;
    height: 5%;
    opacity: 0.5;
    transition: all ease 0.2s;
}

#graph-back:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#graph-back-icon {
    pointer-events: fill;
    width: 100%;
    height: 100%;
}

#graph-fullscreen-btn {
    position: inherit;
    left: calc((90% - 60vh) / 1.6 + 55vh);
    top: 47.5%;
    width: 5%;
    height: 5%;
    z-index: 2000;
    text-align: center;
}