.range-input {
    width: 40%;
    display: inline-block;
}

#table-main {
    pointer-events: fill;
    position: inherit;
    top: 25%;
    height: 50%;
    width: 100%;
    border-radius: 0 3vh 3vh 0;
    background-color: rgb(255, 250, 239);
}

#table-content {
    width: 90%;
    height: 100%;
    position: inherit;
    top: 0;
    left: 0;
}

#table-slider {
    z-index: 100;
    pointer-events: fill;
    position: inherit;
    top: 85%;
    right: 5%;
    width: 30%;
    padding: 18px 15px 10px 15px;
    border-radius: 15px;
    background-color: rgb(240, 245, 255);
    transform: scale(0.9);
}

#table-slider-animate {
    z-index: 100;
    pointer-events: fill;
    margin-top: 10px;
}

#table-slider-bg {
    z-index: 0;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: inherit;
    left: 0;
    top: 0;
    border-radius: 15px;
    filter: sepia(1.0) hue-rotate(125deg) grayscale(75%);
    background-image: url("../../assets/textures/pexels-henry-&-co-2341290.jpg");
    background-size: cover;
}

#table-title {
    pointer-events: all;
    position: inherit;
    top: 8%;
    right: 0%;
    width: 50%;
    height: 10%;
    color: white;
    font-size: 4vh;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

#table-decoration {
    position: inherit;
    top: 20%;
    right: 3%;
    height: 60%;
    width: 3%;
    border-radius: 1vh;
    background-color: rgb(243, 172, 18);
    overflow: hidden;
}

#table-decoration-texture {
    height: 100%;
    filter: brightness(1.8) hue-rotate(9deg);
}

#table-fullscreen-btn {
    z-index: 1000;
    width: 4%;
    height: 5%;
    position: inherit;
    top: 47.5%;
    right: 6%;
    text-align: center;
}